/* staff */
.get-in-touch {
    max-width: 1000px;
    height: 100%;
    margin: 50px auto;
    position: relative;
    background-color: rgb(173, 99, 99);
  }
  .get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
  }
  
  .staff-form {
    position: relative;
    margin: 32px 0;
  }
  
  .open {
    border: 3px solid white;
    border-radius: 10px;
    height: 100%;
  }
  .but{
      background-color: white;
      border-radius: 5px;
      border: 2px solid white;
  }
/* staff */
/* .label{
    color: white;
  }
  span{
    font-weight: 900;
    cursor: pointer;
    float: right;
    background-color: red;
    width: 20px;
    color: white;
  }
  span:hover{
    color: black;
  }
  input{
    border-radius: 15px;
    border: 2px solid white;
    font-weight: 500;
    font-size: 20px;
  } */